@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  /* background-image: url("/bg3.jpg"); */
}

/* globals.css */
@layer base {
  .header-bg {
    background-image: url("/bg3.jpg");
    background-size: cover;
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */

    width: 100vw; /* Makes the container span the full width of the viewport */
    height: 100vh;
  }
}
